.ocnova {
    size: px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* border: 5px solid rgb(240, 223, 255); */
    background-color: #907dfd;
    color: #000000;
    box-shadow: 17px 6px 14px rgb(65, 60, 60);
    border-radius: 20px;
    padding: 10px;
    
}
.ocnova .rulus p {
    margin: 20px;
}
.ocnova button {
    padding: 10px;
}
    .bok-menu {
        position: fixed;
        left: 0;
        background-color: aqua;
        height: 100%;
        padding-top:0px ;
        font: bold 1em sans-serif;
        right: 400px;
        max-width: 400px;
       
    }
    .div {
        display: flex;
        padding: ;
    }
    .div p{
        padding-right: 50px;
    }
body{
    text-alig: center;
    margin: auto;
    max-width: 1000px;
    padding: 9px;
    box-shadow: 4px 4px 14px rgba(204, 204, 204, 0.25);
    color: rgb(0, 0, 0);
    background-image: url('Minecraft_chat_2.jpg'); /* Путь к изображению */
    background-size: contain; 
  
    background-attachment: scroll;
    color: #150461;
    background-attachment: scroll
    
    }
.info {
    
    display: inline;
}
.rulus p{
padding: 10px;
margin: 20px;
border: 0px solid rgb(134, 134, 134);
background-color:#ffffff;
border-radius: 5px;

}


a {
    color: rgb(78, 23, 23);
    text-decoration: none;
    transition: all .4s;
}
a:hover {
color: red;
font-size: 20px;
width: 110%;
text-decoration:h;

 ;
}
.photo {
    box-shadow: 15px 4px 14px rgba(82, 78, 78, 0.25);
    margin: 10px;
    border-radius: 20px;
    width: 300px;
}
.rulus p:hover{
    background: rgb(216, 255, 253);
    border: 1px solid black ;
   break-before: left;
}
.ava {
    width: 300px;
    border-radius: 40px;
    margin: 20px;
    box-shadow: 15px 4px 14px rgb(0, 0, 0);
    border: 2px solid #000000;
    height: 300px;


}
    .flexbox-admins{
        display: flex;
        gap: 50px;
        padding: 10px;
        margin: 0px;
    }
    .admins {
        background-color: rgb(208, 255, 255);
        border-radius: 20px;
        padding: 10px;
        margin: 10px;
        box-shadow: 17px 6px 14px rgb(65, 60, 60);
    }
.pachalka:after {
    content: "-молодец, человек";
    opacity: 0;
    transform: translateX(10px);
    transition: all 3.3s ease-in-out 1.5s;
    /* position: absolute; */
  }
  


   
  /* .pachalka:hover:afterafter {
    opacity: 1;
    transform: translateX(0);
    
  } */
  
 
  .pachalka2:hover {
    
    transform: translateX(0);
   text-decoration: line-through;

  }

  .pachalka2:hover::after  {
    
    content: "-токсичный человек, детей в подвал тащит";
 
    transform: translateX(10px);
    transition: all 0.3s ease-in-out 0.5s;
 text-decoration: none;
   
  }
.info-group {
    font-size: 20px;
}
.flexbox-admins  p {
     max-width: 300px;
     background-color: #ffffff;
     padding: 10px;
     border-radius: 10px;
}
.dop-info {
    background-color: #fdfca9;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    box-shadow: 17px 6px 14px rgb(65, 60, 60);
}
.dop-info p{
    background-color: #ffffff;
    padding: 10px;
}
@media (max-width: 850px) {
    .flexbox-admins {
        display: block;
        /* max-width: 250px;
        max-height: 250px; */
        
    }
}
@media (max-width: 600px) {
    .flexbox-admins img {
        width: 300px;
        height: 300px;
        
    }
    .flexbox-admins  p {
        max-width: 300px;
        padding: 3px;
        border-radius: 10px;
        font-size: 14px;
   }
}
@media (max-width: 440px) {
    .flexbox-admins img {
        width: 200px;
        height: 200px;
        
    }
    .dop-info {
        font-size: 15px;
    }
    h3 {
        font-size: 15px;
    }
    .rulus p {
        font-size: 16px;
    }
}

@media (max-width: 400px) {
    .flexbox-admins img {
        width: 150px;
        height: 150px;
        font-size: 12px;
        margin: 5px;
        padding: 0px;
    }
    
}
.accordion {
    background-color: #f6ffff;
    color: #444;
    cursor: pointer;
    padding: 0px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border: 1px solid #333;
  
}

.active, .accordion:hover {
    background-color: #bbfaff;
}

.input {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
    background-color: #bbeffd;
    border: 1px solid #444;
    /* display: flex; */
}

.active + .input {
    max-height: 5000px; /* Максимальная высота для плавного раскрытия */
    max-height: none; 
}
.input p {
    font-size: 14px;
    /* line-height: 1.5; */
    padding: 10px;
    display: block;

}

h1 {
    padding: 10px;
}
.accordion + .input {
    margin-bottom: 20px;
}
.menua a{
font-size: 22px;
background-color: #ffffff;
padding: 12px;
margin-top: 70px;
}
.accordion img {
    height: 30px;
    width: 30px;
    padding: 0;
    border-radius: 10px;
    margin: 10px;
    margin-right: 20px;
    display: inline;
}
.accordion p {
    display: inline;
   text-align: center;
   clear: left;
}
.server {
    /* background-color: #ffffff; */
    /* opacity: 0.5; */
    padding: 10px;
    margin: 15px;
    color: #000000;
    background-color: rgba(201, 198, 198, 0.5);
    border-bottom: rgba(0, 0, 0, 0.8)  solid 3px;
    background: linear-gradient(rgb(255, 255, 255, 0.7), rgba(124, 124, 124, 0.4));
    box-shadow: 4px 4px 14px  rgba(56, 56, 56, 0.25);
}

.server h2 {
   font-family: 'Courier New', Courier, monospace;

}
.server-background {
   opacity: 0.5;
   background: radial-gradient(#000000)
 
   
} */

.server img{
height: 90px;
width: 90px;
padding-right: 10px;
float: left;
display: block;

margin: 0;
}
.server p {
    
}
.liv {
    display: flex;
    position: fixed;
    background-color: rgba(209, 255, 252, 0.3);
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
    font-size: 20px;
    border-bottom: solid rgb(223, 255, 253, 0.5) 1px;
    font-family:  'Courier New', Courier, monospace;
    

}
.liv p{
    margin: 10px;
}
.rulus p {
    margin: 0;
}
.rulus a {
    padding: 10px;
    
}
.rulus p{
    margin: 10px;
}
 textarea {
    resize: none;
    height: 100px;
    width: 600px;
    border-bottom: solid 2px  ;
    border-widht: 0px ;
   outline: none;
   background-color: #fdfde7;
   
 }
 button {
    color: #333;
    background-color: #fdfca9;

 }